/* Navbar.css */

.navbar {
    height: 100vh;
    width: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nav-button {
    background-color: #34495e;
    color: white;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: none;
    transition: background-color 0.2s ease;
  }
  
  .nav-button:hover {
    background-color: #1abc9c;
  }
  
  .nav-button:focus {
    outline: none;
    background-color: #16a085;
  }
  